.NavigationBar {
  width: 100%;
  height: var(--nav-bar-height);
  position: relative;
}

.nav-width {
  max-width: 800px;
  margin:auto;
}

.nav-bottom {
  float:left;
  position:absolute;
  bottom:0;
}

.nav-bottom div,button {
  display:inline-block;
  margin-right: 10px;
}
