.Splash {
  position: fixed;
  width: 100%;
  z-index: 10;
  font-size: 36px;
}

.fade-in {
  animation: fade-in 1s;
}

.content {
  height: auto;
  max-width: 1200px;
  max-height: 800px;
  margin: auto;
  margin-top: var(--nav-bar-height);
  background-color: var(--space);
  pointer-events: auto;
}

.shrink-slide {
  animation: shrink-slide 2s ease-in-out forwards;
}

@keyframes shrink-slide {
  from {
    width: 1200px;
    font-size: 36px;
  }
  to {
    width: 800px;
    font-size: 16px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}