.MainContent {
  width: 100%;
  height: calc(100vh - var(--nav-bar-height) - var(--footer-height));
}

.row {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.column {
  margin-top:10px;
  float: left;
}

.location-list {
  margin-right: 25px;
}

.access-list {
  margin-left: 25px;
}