.homepage {
  float: left;
  margin-left: 40px;
}

.links {
  float: right;
  margin-right: 40px;
}

.links div {
  display:inline-block;
  margin-left: 25px;
}

.links button {
  display:inline-block;
  margin-left: 25px;
}