:root {
  --backdrop: rgba(0, 0, 0, 0.75);
  --shadow: rgba(0, 0, 0, 0.25);
  --space: #1D1B24;
  --highlight: #4b4661;
  --cream: #dbd8ec;
  --dark-purple: rgb(50, 43, 65);
  --light-purple:rgb(125, 109, 143);
  --nav-bar-height: 60px;
  --footer-height: 40px;
}

body {
  margin: 0;
  background-color: var(--space);
  color: var(--cream);
  font-family: Inconsolata;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#splash {
  pointer-events: none;
}

#overlays {
  width: 100vw;
}

code {
  font-family: 'Syncopate-Regular';
  font-size: 14px;
}

@font-face {
  font-family: 'Inconsolata';
  src: url(./assets/fonts/Inconsolata.ttf);
}

@font-face {
  font-family: 'Syncopate-Regular';
  src: url(./assets/fonts/Syncopate-Regular.ttf);
}

input {
  -webkit-user-select: auto; /* Safari */
  -ms-user-select: auto; /* IE 10 and IE 11 */
  user-select: auto; /* Standard syntax */
}

:focus {
  outline: none;
}